<!doctype html>
<html >
  <head>
    <script src="lib/angular.js"></script>
    <script src="js/httpBasics.js"></script>
  </head>
  <body ng-app='app'  ng-controller='appCtrl'>
     <div>
       <button ng-click="getName()">Get Name</button>
     	<pre>Hello {{data.name}} !!</pre>
     </div>
     
     <div>
       <button ng-click="getNameThen()">Get Name Using Promise</button>
     	<pre>Hello {{data2.name}} !!</pre>
     </div>
     
     <div>
    	<button ng-click="queryUsers()">GET Users</button>
    	<pre>{{users | json}}</pre>
	</div>

     </body>
</html>